

.bottle-container {
    position: relative;
    flex: 1;
    min-width: 280px;
    max-width: 350px;
    z-index: 1;
}

.bottle-container img.logo-big {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 320px;
    height: auto;
    object-fit: contain;     
    opacity: 0;
    transition: opacity 0.3s linear; 
}

.bottle-container img.logo-big.blanc {
    animation: none; 
    opacity: 1; 
    position: absolute;
    z-index: -1;
}

.bottle-container img {
    max-width: 100%;
    height: auto;
    display: block;
}