
@font-face {
    font-family: 'Bebas Neue';           
    src: url('../Bebas\ Neue\ Light.ttf') format('truetype');
    font-weight: 300;                    
    font-style: normal;
    font-display: swap;                 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x:hidden;
}

body {
    font-family: 'Montserrat', system-ui, sans-serif;
    line-height: 1.7;
    color: #1f4d3b;
    overflow-x:hidden;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

/* IMAGES */
img {
    max-width: 100%;
}

/* LINKS */
a {
    text-decoration: none;
    color: inherit;
}

.hidden {
    opacity: 0;
    transform: translateY(40px);
    transition: all 1s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

@media (min-width: 2040px) {
    .container {
        max-width: 1600px;
    }
}

@media (min-width: 2500px) {
    .container {
        max-width: 1700px;
    }
}
