/* ====================== MOBILE RESPONSIVE ====================== */

/* Better Typography Scale */
:root {
    --h1: 40px;
    --h2: 32px;
    --h3: 24px;
    --text-lg: 16px;
    --text-base: 13px;
}

@media (max-width: 992px) {

    /* HEADER + HAMBURGER MENU */
    .header,
    .header.active,
    .header.scrolled {
        padding: 15px 20px;
    }

    .container {
        padding: 0 20px;
    }

    section {
        scroll-margin-top: 70px;
    }

    .vh-wrapper {
        min-height: unset;
        display: block;
    }

    .hero-grid {
        grid-template-columns: none;
    }

    .hero-copy h1 {
        margin: 0px 0 30px;
        font-size: 70px;
    }

    .hero-text {
        font-size: var(--text-base);
    }

    .header-inner.container {
        padding: 0;
    }

    .main-nav {
        position: fixed;
        top: 70px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 50px);
        background: #01412C;;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 40px;
        gap: 25px;
        transition: left 0.4s ease;
        z-index: 999;
        font-size: 18px;
        padding: 20px;
        text-align: left;
        align-items: baseline;
    }

    .main-nav.active {
        left: 0;
        justify-content: flex-start;
    }

    .nav a {
        margin: 0;
        font-size: 18px;
        color: #e6f2e6;
    }

    /* Hamburger Button */
    .hamburger {
        display: none;
        flex-direction: column;
        cursor: pointer;
        z-index: 1000;
        gap: 5px;
    }

    .hamburger span {
        width: 28px;
        height: 3px;
        background: #d2e9ce;
        transition: 0.3s;
        border-radius: 5px;
    }

    .scrolled .hamburger span {
        background: #d2e9ce;
    }

    

    @media (max-width: 992px) {
        .hamburger {
            display: flex;
        }
    }

    .hero-section {
        top: 27%;
    }

    /* HERO */
    .hero {
        padding: 120px 0;
    }

    /* ABOUT */
    .about.container {
        padding: 30px 20px 0;
    }

    .about-inner {
        flex-direction: column;
        gap: 30px;
    }

    .about-image {
        flex: auto;
        height: 250px;
    }

    .about-title,
    .categories-title,
    .shops-container-text h2,
    .team-values h2,
    .studios-header h2,
    .facilities-header h2 {
        font-size: var(--h1);
        line-height: 45px;
    }

    .team-values {
        padding: 30px 0 0;
    }

    .about-text {
        font-size: var(--text-base);
    }

    .mv-wrapper {
        padding: 30px 0;
    }
    .mv-section {
        align-items: center;
        flex-direction: column;
        gap: 30px;
        padding: 0;
    }

    .mv-box {
        padding: 20px 20px 35px;
        width: auto;
        max-width: 500px;
    }

    .mv-box h2 {
        font-size: var(--h2);
    }

    .mv-box p {
        font-size: var(--text-base);
    }

    /* TEAM & VALUES */
    .team-section.container {
        flex-direction: column;
        gap: 20px;
        text-align: center;
        align-items: center;
    }

    .team-text p {
        max-width: unset;
        font-size: var(--text-base);
    }

    .owner-image-wrapper {
        flex: unset;
    }

    .owner-img {
        width: 100%;
        max-width: 500px;
    }

    .team-text h2 {
        font-size: var(--h2);
    }

    .values-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    h2.values-title {
        font-size: var(--h2);
    }

    .value-item h3 {
        font-size: 13px;
    }

    .values-section.container {
        padding-bottom: 50px;
    }

    .business-section {
        padding: 30px 0 40px;
    }

    .business-section h2 {
        margin-bottom: 35px;
    }

    .stats-grid{
        grid-template-columns: unset;
        gap: 30px;
    }

    .stat-item {
        padding-top: 10px;
    }

    .stat-inner {
        align-items: center;
    }

    /* BUSINESS SECTION */
    .business-section-inner {
        flex-direction: column;
        gap: 40px;
    }

    .stat-label {
        max-width: 230px;
    }

    .business-image {
        order: 2;
        min-height: 350px;
    }

    .stat-number {
        font-size: 48px;
    }

    /* CATEGORIES - Major Improvement */
    .categories {
        padding: 30px 0px 0px;
    }

    .categories-title {
        font-size: var(--h1);
        margin-bottom: 40px;
    }

    .categories-grid {
        flex-direction: column;
        gap: 50px;
    }

    .category-item {
        height: auto;
        flex-direction: row;
    }

    .image-wrapper {
        height: 240px;
    }

    .category-top {
        padding: 0;
        background: transparent;
        border-radius: 0;
        pointer-events: none;
    }

    .image-wrapper {
        display: none;
    }

    .category-top h3 {
        font-size: 15px;
        line-height: 1.2;
        color: #01412C;
        text-align: left;
    }

    .category-item .bottle-container {
        height: 250px;
        display: block;
        margin: auto;
        width: 100%;
        max-width: 500px;
    }

    .brands-panel {
        opacity: 1;
        flex: 1;
        padding-left: 10px;
        visibility: visible;
    }

    .brands-panel button {
        display: none;
    }

    .brands-grid {
        justify-content: center;
        height: 100%;
    }

    .back-categories {
        float: none;
        display: block;
        margin: 30px auto 0;
        width: fit-content;
    }

    
    .category-item.active {
        height: auto;
    }

    .bottle-container img.logo-big {
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .category-main {
        display: block;
        width: auto;
    }

    .category-item.active .category-main {
        width: 100% !important;
        flex-shrink: 0;
    }

    .category-item:hover {
        transform:  none;
    }

    /* SHOPS */

    .shops-section {
        background: unset;
        padding: 30px 0;
    }

    .shops-container-text-inner {
        width: 100%;
    }
    .shops-container-text p {
        font-size: var(--text-base);
    }

    .shop-card {
        flex-direction: column;
        gap: 20px;
    }

    .shop-logo {
        margin: auto;
        width: 200px;
    }

    .shop-logo .btn {
        min-height: 120px;
    }

    .shop-logo:hover button {
        transform: none;
    }

    .studios {
        padding: 20px 0;
    }

    .studios-header h2 {
        margin-bottom: 20px;
    }

    .studios-header p {
        font-size: var(--text-base);
        margin-bottom: 0;
    }

    /* FACILITIES */
    .facilities {
        padding: 20px 0;
    }

    .facilities-header h2 {
        margin-bottom: 20px;
    }

    .facilities-header p {
        font-size: var(--text-base);
        margin-bottom: 0;
    }

    /* CONTACT */
    .contact-footer {
        padding: 20px 0;
    }

    .contact-grid {
        flex-direction: column;
        gap: 20px;
    }

    .contact-section h2 {
        font-size: var(--h2);
        margin-bottom: 15px;
    }

    .contact-section {
        padding: 16px;
        font-size: var(--text-base);
    }

    .contact-inner {
        padding: 0;
    }

    .form-row {
        flex-direction: column;
        gap: 15px;
    }

    /* SCROLL TO TOP */
    #scrollTopBtn {
        width: 48px;
        height: 48px;
        bottom: 20px;
        right: 20px;
    }

    .button-primary, .button-secondary {
        min-height: 35px;
        padding: 0 22px;
        font-size: 13px;
    }
    .footer-grid {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .footer-inner {
        border: none;
    }

    .footer-column h3 {
        font-size: var(--h3);
    }

    .footer-contact-list a,
    .footer-nav, 
    .footer-contact-list {
        font-size: var(--text-base);
    }
    
    .footer-brand { grid-column: 1; }
    .footer-column:last-child { 
        grid-column: 2;
        grid-row: 1;
     }   

     .footer-bottom {
        text-align: left;
        margin-top: 0px;
     }

     .footer-bottom p {
        font-size: 11px;
     }

    .footer-column:nth-child(2) { grid-column: 1; } 
    .footer-column:nth-child(3) { grid-column: 2; } 

    input, textarea, select {
        padding: 10px;
        font-size: 16px;
        transform: scale(0.9) translateX(-20px);
    }

    .footer-nav a:hover, .footer-contact-list a:hover{
        color: inherit;
        transform: none;
    }

    form {
        gap: 10px;
    }
}

/* Extra Small Devices */
@media (max-width: 576px) {
    :root {
        --h1: 36px;
        --h2: 32px;
        --h3: 24px;
    }

    .container {
        padding: 0 15px;
    }

    .hero-copy h1 {
        font-size: 50px;
    }

    .about-title,
    .categories-title,
    .team-values h2 {
        font-size: var(--h1);
        margin-bottom: 20px;
        line-height: 35px;
    }

    .slogan {
        font-size: 21px;
        padding: 18px 15px;
    }

    .category-item {
        flex-direction: column;
    }
    
    .brands-grid {
        height: 200px;
    }

    .brands-panel {
        padding: 0;
    }

    .category-item .bottle-container {
        height: 200px;
    }

    .business-image {
        min-height: 200px;
    }
    .footer-grid {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .footer-column:nth-child(2), 
    .footer-column:nth-child(3), 
    .footer-column:last-child {
        grid-column: unset;
        grid-row: unset;
    }

    .footer-brand  {
        display: none;                    
    }

    .footer-logo {
        max-width: 180px;
    }
}